{% extends 'base.html.twig' %} {# Ici nous indiquons que l'on veut étendre de notre gabarit principal base.html.twig #}


{% block body %}

<h1>{{ titre1 }}</h1> {# Commentaires TWIG pisola #}
{# Syntaxe du moteur twig #}
{% if age < 18 %}
<p>Vous n'avez pas accès à ce blog vous n'avez pas l'âge {{ age }} requis </p> {#Ici nous interpolons la variable titre1 que nous a envoyé la fonction render() de 'home' , depuis notre blog controller #}
{% else %} 
<p>Bienvenue sur mon blog</p>
{% endif %}


        {% endblock %}

