{% extends 'base.html.twig' %}

{% block title %}Identifiez-vous!{% endblock %}

{% block body %}
    <h1 class="col-md-6 max-auto bg-primary text-white mx-auto rounded py-3">Identifiez-vous</h1>

  {% for message in app.flashes('success') %}

  <div class="col-md-3 bg-success p-4 rounded mx-auto text-center text-white mb-3">
  {{message}}
  </div>

 {% endfor %}

<form method="post" class="col-md-3 mx-auto my-3" action ="{{ path('login')}}">
  
   <div class="form-group">
        <label for="_username">Email</label>
        <input type="text"  name="_username" id="_username" class="form-control" value="{{ lastUsername }}">
   </div>
   <div class="form-group">
    
        <label for="_password">Mot de passe</label>
        <input type="password" name="_password" id="_password" class="form-control">
    
</div>

  <button class="btn btn-primary" type="submit">Continuer</button>
</form>
{% endblock %}
